
       body.activate {
    background: url('/sahtout/img/backgrounds/bg-register.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'UnifrakturCook', 'Arial', sans-serif;
}

