/* Full-page layout */

       body.reset_password {
    background: url('/sahtout/img/backgrounds/bg-reset-password.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'UnifrakturCook', 'Arial', sans-serif;
}

